@charset "utf-8";
/* CSS Document */

.skill-bt{
	display:inline-table;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.skill-bt-on{
	cursor:pointer;
}
.skill-int-bt-pos{
	display:inline-table;
	text-align:center;
	margin-top:28%;
	color:green;
}
.skill-bt-titulo{
	text-decoration:none;
	margin: 4px;
	font-size:90%;
	text-transform: uppercase;
	color: #5f8295;	
}
.bar-per{
	text-decoration:none;
	margin: 4px;
	font-size:68%;
	text-transform: uppercase;
	color: #5f8295;	
}
.fa-di-pv10{
	font-size:2.6em !important;
}
.info-desempenho{
	margin: 10px 4px 6px 0;	
}
.info-des-tit-suc{
	padding-left: 4px;
	color:#3c763d;
}
.info-des-tit-dan{
	padding-left: 4px;
	color:#b84442;
}
.btn-estudar{
	background-color:#FFFFFF;
	border:#D9D9D9 thin solid;
	margin: -4px;
	padding-top: 2px;
}

/*/////////BARRA DE DESEMPENHO//////////////*/
.indicador-bar{
	background-image:url(../../images/elementos/fundo-bar.png);
	background-repeat: no-repeat;
	background-size:100%;
	width:100%;
	height:20px;
	margin-left: -10px;
}
.valor-ind-bar{
	background-color: white;
	font-size: 120%;
	height: 20px;
	float: right;
	width: 0%;
	margin-top: 2px;
}
.valor-ind-bar-100{
	width:0%;
}
.valor-ind-bar-80{
	width:20%;
}
.valor-ind-bar-60{
	width:40%;
}
.valor-ind-bar-40{
	width:60%;
}
.valor-ind-bar-20, .valor-ind-bar-0{
	width:80%;
}
.tam-ind{
	width: 60px;
	margin: 2px auto;
}
.pos-ind-bar{
	display:inline-block;
}
/*==================== RESPONSIVO =====================
 									TABLET CELULAR 
=====================================================*/
@media screen and (max-width: 600px) {
	.skill-bt{
		width: 50px;
		height: 50px;
	}
	.valor-ind-bar{
		font-size:120%;
	}
	.tam-ind{
		width: 40px;
	}
/*	.skill-int-bt-pos{
		vertical-align:central;
		text-align:center;
	}*/
	.skill-bt-titulo, .skill-bt-titulo-off, .bar-per{	
		font-size: 60%;
	}
	.fa-di-pv10{
		font-size:1.8em !important;
	}
}
.skill-golden-frd{
	background: rgb(254,204,177); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 19%, rgba(239,167,131,1) 32%, rgba(241,116,50,1) 43%, rgba(242,89,7,1) 55%, rgba(234,218,211,1) 73%, rgba(239,188,162,1) 87%, rgba(239,188,162,1) 90%, rgba(239,188,162,1) 90%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 19%,rgba(239,167,131,1) 32%,rgba(241,116,50,1) 43%,rgba(242,89,7,1) 55%,rgba(234,218,211,1) 73%,rgba(239,188,162,1) 87%,rgba(239,188,162,1) 90%,rgba(239,188,162,1) 90%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 19%,rgba(239,167,131,1) 32%,rgba(241,116,50,1) 43%,rgba(242,89,7,1) 55%,rgba(234,218,211,1) 73%,rgba(239,188,162,1) 87%,rgba(239,188,162,1) 90%,rgba(239,188,162,1) 90%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.skill-blue-frd{
	background: rgb(208,228,247); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 14%, rgba(164,205,244,1) 26%, rgba(10,119,213,1) 50%, rgba(22,133,224,1) 76%, rgba(83,159,225,1) 84%, rgba(135,188,234,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 14%,rgba(164,205,244,1) 26%,rgba(10,119,213,1) 50%,rgba(22,133,224,1) 76%,rgba(83,159,225,1) 84%,rgba(135,188,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 14%,rgba(164,205,244,1) 26%,rgba(10,119,213,1) 50%,rgba(22,133,224,1) 76%,rgba(83,159,225,1) 84%,rgba(135,188,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.skill-green-frd{
	background: rgb(191,210,85); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(191,210,85,1) 0%, rgba(204,255,219,1) 15%, rgba(142,185,42,1) 32%, rgba(114,170,0,1) 62%, rgba(204,255,219,1) 77%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(204,255,219,1) 15%,rgba(142,185,42,1) 32%,rgba(114,170,0,1) 62%,rgba(204,255,219,1) 77%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(204,255,219,1) 15%,rgba(142,185,42,1) 32%,rgba(114,170,0,1) 62%,rgba(204,255,219,1) 77%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.skill-disabled-frd{
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(175,175,175,1) 35%, rgba(184,186,198,1) 49%, rgba(245,246,246,1) 67%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(175,175,175,1) 35%,rgba(184,186,198,1) 49%,rgba(245,246,246,1) 67%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(175,175,175,1) 35%,rgba(184,186,198,1) 49%,rgba(245,246,246,1) 67%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

