@charset "utf-8";
body{
	background-color: #E72429;
	max-width:768px;
}
.btn-full-1-1-4{
	background-color: #F36E00;
}
.btn-full-1-2-4{
	background-color: #FF8F32;
}
.btn-full-1-3-4{
	background-color: #005F7A;
}
.btn-full-1-4-4{
	background-color: #FFFFFF;
	box-shadow: 2px 2px 4px 1px #333333;	
}



